{% extends "layout2.html" %}

{% block title %}About{% endblock %}

{% block main %}
    <style>
        p {
            line-height: 2;
        }
    </style>
    <section style="max-width: 600px; margin: 50px auto 20px;">
        <h1 style="margin-bottom: 20px;">About</h1>
        <p>
            Welcome to our real estate discovery solution! Developed by Edvards Markuss Selikovs and Kristers Krigers as part of the CS50X course, our program, named SS.LV HELPER is set to revolutionize your flat hunting experience on SS.LV. Tired of endlessly scrolling through listings? SS.LV HELPER is here to rescue your time and make finding your perfect home in your desired city a breeze.     </p>
        <img src="/static/harvard.png" alt="Harvard Logo" style="max-width: 100%; height: auto; margin-top: 20px;">
    </section>
{% endblock %}
