{% extends "layout2.html" %}

{% block title %}Contacts{% endblock %}

{% block main %}
<div style="display: flex; justify-content: center; align-items: center; text-align: center; margin-top: 100px;">
    <div style="margin-right: 100px;">
        <img style="width: 200px; height: 200px;" class="rounded-circle" alt="Krigers" src="static/krigers.png" />
        <p class="text-center">Kristers Krigers</p>
        <a href="https://lv.linkedin.com/in/kristers-kr%C4%ABgers-3b4431293" target="_blank">LinkedIn</a>
    </div>
    <div>
        <img style="width: 200px; height: 200px;" class="rounded-circle" alt="Selikovs" src="static/selikovs.png" />
        <p class="text-center">Edvards Markuss Selikovs</p>
        <a href="www.linkedin.com/in/edvards-markuss-s-b55539213" target="_blank">LinkedIn</a>
    </div>
</div>




{% endblock %}



